/* Miligram overrides */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.top-nav-links,
.side-nav,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #363637;
}

a {
    color: #2f85ae;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover,
a:focus,
a:active {
    color: #2a6496;
    -webkit-transition: all 0.2s easeout;
    transition: all 0.2s ease-out;
}

.side-nav a,
.top-nav-links a,
th a,
.actions a {
    color: #606c76;
}

.side-nav a:hover,
.side-nav a:focus,
.actions a:hover,
.actions a:focus {
    color: #2f85ae;
}

/* Utility */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Main */
body {
    background: #f5f7fa;
}

.content {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 32px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    margin-top: 30px;
}

.actions a {
    font-weight: bold;
    padding: 0 0.4rem;
}

th {
    white-space: nowrap;
}

/* Nav bar */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    padding: 2rem;
    margin: 0 auto 2rem;
}

.top-nav-title a {
    font-size: 2.4rem;
    color: #d33c43;
}

.top-nav-title span {
    color: #404041;
}

.top-nav-links a {
    margin: 0 0.5rem;
}

.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}

/* View action */
.view.content .text {
    margin-top: 1.2rem;
}

.related {
    margin-top: 2rem;
}

/* Flash messages */
.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.message.hidden {
    display: none;
}

.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}

.message.warning {
    background: #fffabc;
    color: #8d7b00;
    border-color: #d3b800;
}

.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}

/* Forms */
.input.radio,
.input.checkbox {
    margin-bottom: 2.0rem;
}

.input.radio input,
.input.checkbox input {
    margin: 0;
}

.input.radio label,
.input.checkbox label {
    margin: 0;
    display: flex;
    align-items: center;
}

.input.radio label>input,
.input.checkbox label>input {
    margin-right: 1.0rem;
}

.input.radio label:first-of-type {
    margin-bottom: 2.0rem;
}

/* Paginator */
.paginator {
    text-align: right;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}

.pagination li {
    margin: 0 0.5rem;
}

.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}

.asc:after {
    content: " \2193";
}

.desc:after {
    content: " \2191";
}

/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .top-nav {
        margin: 0 auto;
    }

    .side-nav {
        margin-bottom: 1rem;
    }

    .heading {
        margin-bottom: 1rem;
    }

    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }

    .asc:after {
        content: " \2192";
    }

    .desc:after {
        content: " \2190";
    }
}

a {
    color: white;
    margin: 5px;
    font-size: 21px;
    font-weight: bold;
}

li a:hover {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: bold;
}

/* .navbar {
    background: linear-gradient(to right, #B5AC49, #3CA55C);
} */

.error-message {
    font-size: 19px;
    color: #cc1f1a;
    background-color: #fcebea;
    width: 500px;
}

.button {
    float: right;
    font-weight: bold;
    border: none;
    border-radius: 22px;
    margin-top: -37px;
}

.button:hover {
    background-color: green;
    box-shadow: 10px 15px 20px rgba(62, 243, 11, 0.4);
    color: #fff;
    transform: translateY(-7px);
    text-decoration: none;
}

/* navbar css color changing  */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

.navbar {

    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 6s ease-in-out infinite;
    display: flex;

}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* navar css ends */

/* new css  */
.text-center {
    color: #3079ed;
    font-weight: bold;
    font-size: 6em;

    animation-name: text-shadow-multicolor;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;

    /* shorthand
		animation: text-shadow-multicolor 2s ease 0s infinite normal none;*/
}

@keyframes text-shadow-multicolor {

    0% {
        text-shadow: 0 0px 15px #f0f;
    }

    33% {
        text-shadow: 0 0px 15px #0ff;
    }

    66% {
        text-shadow: 0 0px 10px #0f0;
    }

    100% {
        text-shadow: 0 0px 10px #ff0;
    }
}

button {
    border-radius: 24px;
    font-size: large;
}

button:hover {
    font-weight: bolder;
    background-color: #f18271;
    color: black;
}